body {
    background-color: #eaffea;
    font-family: Arial;
    text-align: center;
}

.container {
    background: white;
    width: 450px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}